<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1" />

<html lang="zh-CN">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="//cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.3.8/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">
<link href="../static/css/steps.css" rel="stylesheet">
<head>
    <title>Online System - 健康管理</title>
</head>

<body>
    <!--导航窗格-->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
                <a class="navbar-brand" href="/Functions">System</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Functions">Home</a></li>
                    <!--<li><a href="#about">About</a></li>-->
                    <!--<li><a href="#contact">Contact</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">配置</a></li>
                            <li><a href="#">系统设置</a></li>
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="user" href="#user">{{user}}</a></li>
                    <li class="active"><a href="/logout">注销</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--网页容器-->
    <div class="container">
        <!--巨幕-->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="jumbotron">
                    <h1> 可靠性、维修性设计分析 </h1>
                    <p> 将健康管理进行到底~</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--切换 维修/可靠-->
            <div class="col-md-12 col-xs-12">
                    <ul class="nav nav-tabs ">
                        <li id="navExpense" class="active" role="presentation">
                            <a href="#maintenance" data-toggle="tab" name="maintenance"><p>维修性设计分析</p></a>
                        </li>
                        <li id="navIncome" role="presentation">
                            <a href="#reliability" data-toggle="tab" name="reliability"><p>可靠性设计分析</p></a>
                        </li>
                    </ul>
                <!--tab内容-->
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane in active" id="maintenance">
                        <br />
                        <!--表单提交-->
                        <form name="info" method="post" action="/index" onSubmit="return validate_form(this)">
                        {% raw xsrf_form_html() %}
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                   <div class="input-group">
                                       <span class="input-group-addon">产品名称:</span>
                                       <input type="text" id="prName" name="prName" class="form-control" placeholder="Name">
                                   </div><!-- /input-group -->
                                </div>
                                <div class="col-md-6 col-xs-12">
                                   <div class="form-group">
                                       <div class="input-group">
                                            <span class="input-group-addon">产品编号:</span>
                                            <input class="form-control" type="number" step="1" id="number" name="number" required="required" placeholder="NO." aria-describedby="sizing-addon1">
                                        </div>
                                   </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                   <div class="form-group">
                                       <div class="input-group">
                                            <span class="input-group-addon">特征参数:</span>
                                            <input class="form-control" type="text" step="1" name="type" required="required" placeholder="Parameter" aria-describedby="sizing-addon1">
                                        </div>
                                   </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group ">
                                            <span class="input-group-addon">预防性维修提示内容:</span>
                                            <input type="text" id="tips" name="tips" class="form-control" placeholder="Tips">
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group ">
                                            <span class="input-group-addon">更换指导:</span>
                                            <input type="text"  id="guide" name="guide" class="form-control" placeholder="Guide">
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-xs-12">
                                    <div id="form_date_start" class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">初始时间:</span>
                                        <input id="dateStart" name="dateStart" class="form-control" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input3" value="" /><br/>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group ">
                                            <span class="input-group-addon">周期/分钟:</span>
                                            <input type="number" name="period" class="form-control" placeholder="Period">
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">备注:</span>
                                            <input class="form-control" type="text"  name="remark"  placeholder="Details！" aria-describedby="sizing-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <input class="btn btn-lg btn-success btn-group-justified" type="submit" value="提交 ">
                                </div>
                            </div>
                        </form>
                        <hr />
                        <!--日期选择-->
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <span>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                        选择日期
                                    </button>
                                </span>
                                <span >
                                    <input type="text" autocomplete="off" id="mirror_field" value="{{today}}" readonly />
                                </span>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                  <ul class="nav nav-pills">
                                      <li role="presentation"><a name="dateOptions" id="5">five</a></li>
                                      <li role="presentation"><a name="dateOptions" id="4">four</a></li>
                                      <li role="presentation"><a name="dateOptions" id="3">three</a></li>
                                      <li role="presentation"><a name="dateOptions" id="2">two</a></li>
                                      <li role="presentation"><a name="dateOptions" id="1">yesterday</a></li>
                                      <li role="presentation" class="active"><a id="0" name="dateOptions">today</a></li>
                                  </ul>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <!-- 模态框（Modal） -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                   <div class="modal-dialog">
                                      <div class="modal-content">
                                         <div class="modal-header">
                                            <button type="button" class="close"
                                               data-dismiss="modal" aria-hidden="true">
                                                  &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                               选择日期
                                            </h4>
                                         </div>
                                         <div class="modal-body">
                                            <form action="" class="form-horizontal"  role="form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <div id= "form_date" class="input-group date form_date col-md-8 col-xs-12" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                        <input id="dateSel" class="form-control" type="text" value="" readonly>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                    </div>
                                                    <input type="hidden" id="dtp_input2" value="" /><br/>
                                                </div>
                                            </fieldset>
                                        </form>
                                         </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                               data-dismiss="modal">关闭
                                            </button>
                                            <!--<button type="button" class="btn btn-primary">-->
                                               <!--提交更改-->
                                            <!--</button>-->
                                         </div>
                                      </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                                </div>
                            </div>
                        </div>
                        <!--表格展示-->
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <table class="table table-striped">
                                    <thead >
                                        <tr >
                                            {% for i in thead %}
                                                <th >{{i}}</th>
                                            {% end %}
                                        </tr>
                                    </thead>
                                        {% for j in tbody %}
                                            <tbody id="recordsTb">
                                                <tr>
                                                    {% for j1 in j %}
                                                        <td>{{j1}}</td>
                                                    {% end %}
                                                    <td><a class='glyphicon glyphicon-edit' aria-hidden='true' data-toggle='modal' data-target='#recordEdit' role='button'></a></td>
                                                    <td><a class='glyphicon glyphicon-trash' aria-hidden='true' role='button' onClick='javascript:delRecord(this)'></a></td>
                                                </tr>
                                            </tbody>
                                        {% end %}
                                </table>
                            </div>
                        </div>
                        <!--编辑记录模态框-->
                        <div class="modal fade" id="recordEdit" tabindex="-1" role="dialog" aria-labelledby="recordEditLabel" aria-hidden="true">
                                   <div class="modal-dialog">
                                      <div class="modal-content">
                                         <div class="modal-header">
                                            <button type="button" class="close"
                                               data-dismiss="modal" aria-hidden="true">
                                                  &times;
                                            </button>
                                            <p class="modal-title" id="recordEditLabel">
                                               编辑记录&nbsp;<span><input type="text" autocomplete="off" id="recordDate" value="{{today}}" readonly /></span>
                                            </p>

                                         </div>
                                         <div class="modal-body">
                                             <div class="container-fluid">
                                             <div class="row">

                                            <form name="newInfo" method="post" action="#" onSubmit="return validate_editForm(this)">
                                            {% raw xsrf_form_html() %}
                                                   <div class="row">
                                                        <div class="col-md-6 col-xs-12">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">产品名称:</span>
                                                                <input type="text" id="nameEdit" class="form-control" placeholder="Name">
                                                            </div><!-- /input-group -->
                                                        </div>
                                                       <div class="col-md-6 col-xs-12">
                                                           <div class="form-group">
                                                               <div class="input-group">
                                                                    <span class="input-group-addon">产品编号:</span>
                                                                    <input class="form-control" type="number" step="1" id="NOEdit" required="required" placeholder="NO." aria-describedby="sizing-addon1">
                                                                </div>
                                                           </div>
                                                       </div>
                                                        <div class="col-md-12 col-xs-12">
                                                           <div class="form-group">
                                                               <div class="input-group">
                                                                    <span class="input-group-addon">特征参数:</span>
                                                                    <input class="form-control" type="text" step="1" id="prmEdit" required="required" placeholder="PRM" aria-describedby="sizing-addon1">
                                                                </div>
                                                           </div>
                                                       </div>
                                                        <div class="col-md-12 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="input-group ">
                                                                    <span class="input-group-addon">预防性维修提示内容:</span>
                                                                    <input type="text" id="tipsEdit" class="form-control" placeholder="Tips">
                                                                </div><!-- /input-group -->
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="input-group ">
                                                                    <span class="input-group-addon">更换指导:</span>
                                                                    <input type="text"  id="guideEdit" name="lat" class="form-control" placeholder="Guide">
                                                                </div><!-- /input-group -->
                                                            </div>
                                                        </div>
                                                    </div>

                                            <div class="row">
                                            <!--<form action="" class="form-horizontal"  role="form">-->
                                                            <div class="form-group col-md-8 col-xs-12">
                                                                <div id="form_date_edit" class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input4" data-link-format="yyyy-mm-dd">
                                                                    <span class="input-group-addon">初始时间:</span>
                                                                    <input id="dateStartEdit" name="dateStart" class="form-control" type="text" value="" readonly>
                                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                </div>
                                                                <input type="hidden" id="dtp_input4" value="" /><br/>
                                                            </div>
                                            <!--</form>-->
                                                <div class="col-md-4 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="input-group ">
                                                                    <span class="input-group-addon">周期/分钟:</span>
                                                                    <input type="number" id="period" class="form-control" placeholder="Period">
                                                                </div><!-- /input-group -->
                                                            </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">备注:</span>
                                                            <input class="form-control" type="text"  id="remark"  placeholder="Details！" aria-describedby="sizing-addon1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                             </div>
                                             </div>
                                         </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                取消
                                            </button>
                                            <button id="saveEdit" type="button" class="btn btn-primary" data-dismiss="modal">
                                               保存
                                            </button>
                                         </div>
                                      </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                        </div>
                    </div>
                    <div class="tab-pane" id="reliability">
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <br />
        <hr />
        <footer><p>Online System</p></footer>
</div>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/echarts/3.0.0/echarts.min.js"></script>
<script src="//cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.3.8/js/bootstrap-datetimepicker.min.js"></script>
<script src="//cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.3.8/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="//cdn.bootcss.com/jstree/3.2.1/jstree.min.js"></script>
<script src="//cdn.bootcss.com/jquery-steps/1.1.0/jquery.steps.min.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<script src="../static/js/ajax-setup.js"></script>


</body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    var user=$("a#user").text();
    var strToday=$('#mirror_field').val();
    var dateToday = new Date(strToday);
    //today=myDate.toLocaleDateString();
    //console.info("today:",dateToday);

    //初始化日期导航条
    options=$("[name='dateOptions']");
    var i=options.length;
    options.each(function(){
        i--;
        var dd=GetSomeDate(i);
        $(this).text(dd.getDate());
    });

    //获取某天的日期
    function GetSomeDate(AddDayCount) {
        var dd = new Date(strToday);
        dd.setDate(dd.getDate()-AddDayCount);//获取AddDayCount天前的日期
        //var y = dd.getFullYear();
        //var m = dd.getMonth()+1;//获取当前月份的日期
       // var d = dd.getDate();
        //return y+"-"+m+"-"+d;
        return dd;
    }
 //初始化日期选择器
    $('#form_date_start').datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
        language:  'zh-CN',
        weekStart: 1,
        //todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		forceParse: 0,
		//endDate: strToday,
		pickerPosition: "bottom-left",
    });

    //初始化日期选择器
    $('#form_date').datetimepicker({
        format: "yyyy-mm-dd",
        language:  'zh-CN',
        weekStart: 1,
        //todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
		endDate: strToday,
		pickerPosition: "bottom-left",
		linkField: "mirror_field",
        linkFormat: "yyyy-mm-dd"
    });

    //日期选择器日期change事件函数
    $('#form_date').datetimepicker().on('changeDate', function(ev){
        $('.nav-pills > li').removeClass('active');//取消全部active
        getRemoteRecord();
    });

    //日期导航条点击事件触发函数
    $("[name='dateOptions']").click(function(){
        $('.nav-pills > li').removeClass('active');//取消全部active
        $(this).parent().addClass('active');//当前点击设为active
        var agoNum=parseInt($(this).attr("id"));
        var dd=GetSomeDate(agoNum);//获取当前选择的日期
        var y = dd.getFullYear();//获取年份
        var m = dd.getMonth()+1;//获取当前的月份，0-11代表1-12所以+1
        var d = dd.getDate();//获取几号
        strdate=y+"-"+m+"-"+d;
        $('#mirror_field').val(strdate);
        $("input#dateSel").val(strdate);
        getRemoteRecord();
        });

    //编辑记录模态框事件
   $(function () { $('#recordEdit').on('show.bs.modal', function (event) {
      var target=event.relatedTarget;
      var tdSel=$(target).parent();
      var trSel=$(tdSel).parent();
      var allTd=$(trSel).children();
      var timeSel=allTd['1'].innerHTML;
      var name=allTd['2'].innerHTML;
      var NO=allTd['3'].innerHTML;
      var prm=allTd['4'].innerHTML;
      var tips=allTd['5'].innerHTML;
      var guide=allTd['6'].innerHTML;
      var timeStart=allTd['7'].innerHTML;
      var period=allTd['8'].innerHTML;
      var detail=allTd['9'].innerHTML;

      $('#recordDate').val(timeSel);
      $('#nameEdit').val(name);
      $('#NOEdit').val(NO);
      $('#prmEdit').val(prm);
      $('#tipsEdit').val(tips);
      $('#guideEdit').val(guide);
      $('#dateStartEdit').val(timeStart);
      $('#period').val(period);
      $('#remark').val(detail);
      })
   });

    //保存修改按钮点击
   $('#saveEdit').click(function(){
        updateRemoteRecord();
   });

    //发出post请求，更新记录
    function updateRemoteRecord(){
        data={
            time:$('#recordDate').val(),
            name:$('#nameEdit').val(),
            NO:$('#NOEdit').val(),
            prm:$('#prmEdit').val(),
            tips:$('#tipsEdit').val(),
            guide:$('#guideEdit').val(),
            timeStart:$('#dateStartEdit').val(),
            period:$('#period').val(),
            detail:$('#remark').val()
            };
        $.post('/record',data,function(){getRemoteRecord();});
    }
  });
</script>

<script type="text/javascript">
    function validate_required(field,alerttxt)
    {
    with (field)
      {
      if (value==null||value=="")
        {alert(alerttxt);return false}
      else {return true}
      }
    }

    function validate_form(thisform)
    {
    with (thisform)
      {
      if (validate_required(money,"请输入!")==false)
        {money.focus();return false}
      }
    }

    function validate_editForm(thisform)
    {
    with (thisform)
      {
      if (validate_required(newMoney,"请输入!")==false)
        {newMoney.focus();return false}
      }
    }

   $(function(){
      /*$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          // 获取已激活的标签页的名称
          var activeTabName = $(e.target).attr("name");
          //console.info(activeTabName);
          document.getElementById("moneySelect").value = activeTabName;

          if (activeTabName =="income")
            {document.getElementById("firstIncomeType").checked=true;}
          else if (activeTabName =="expenses")
            {document.getElementById("firstExType").checked=true;}
      });*/

       $('#moreTypes').on('shown.bs.collapse', function () {
         document.getElementById("moreTypeBtn").innerHTML = "收起";})

       $('#moreTypes').on('hidden.bs.collapse', function () {
         document.getElementById("moreTypeBtn").innerHTML = "更多分类";})
   });

   //删除按钮点击
    function delRecord(object)
    {
        var choice=confirm("您确认要删除该记录吗？");
        if(choice){
        var user=$("a#user").text();
        var tdSel=$(object).parent();
        var trSel=$(tdSel).parent();
        var allTd=$(trSel).children();
        var time=allTd['1'].innerHTML;
        var dateTime=time;
        //data={time:dateTime};
        $.ajax({
          type: 'DELETE',
          url: '/record?time='+dateTime,
          success: function(){getRemoteRecord();},
          //dataType: 'json',
          error:console.info(data)
        });
        }
    }

    function getRemoteRecord(){
        $("#recordsTb tr").remove();
        strdate = $("#mirror_field").val();
        $.getJSON("/record",{myDate:strdate},function(records){
            $.each(records,function(i,record){
                var newRow = "<tr><td>"+record['0']+"</td><td>"+record['1']+"</td><td>"+record['2']+"</td><td>"+record['3']+"</td><td>"+record['4']+"</td><td>"+record['5']+"</td><td>"+record['6']+"</td><td>"+record['7']+"</td><td>"+record['8']+"</td><td>"+record['9']+"</td>";
                newRow+="<td><a class='glyphicon glyphicon-edit' aria-hidden='true' data-toggle='modal' data-target='#recordEdit' role='button'></a></td>";
                newRow+="<td><a class='glyphicon glyphicon-trash' aria-hidden='true' role='button' onClick='javascript:delRecord(this)'></a></td></tr>";
                $("#recordsTb").append(newRow);
            });
        });
    }
</script>

